@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&family=Nunito&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,h1,h2,h3,h4,p,
ul,ol,li {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Nunito', sans-serif;
  color:rgba(252, 106, 87, 1);
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* --------------- */

.wrapper {
    display: grid;
    grid-template-columns: 720px 1fr;
    grid-template-rows: 120px 640px;
    grid-template-areas: 
    'nav nav'
    'user counter';
    max-width: 1440px;
    margin: 0 auto;
}

.nav {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    height: 120px;
    width: 100%;
    left: 0;
    padding: 0 80px;
    background: linear-gradient(white, 95%, transparent);
    z-index: 1;
    box-shadow: inset 0 15px 35px -35px rgba(252, 106, 87, 1);
}

.nav__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 590px;
    margin-right: 80px;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    width: 104px;
    height: 40px;
    border-radius: 20px;
    color:rgba(252, 106, 87, 1);
    margin-left: 10px;

}

.link:hover {
    color:rgb(255, 255, 255);
    background-color: rgba(252, 106, 87, 1);
}

.left__side {
    grid-area: user;
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: flex-end;

}

.user__area {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 640px;
    width: 640px;
}

.bubbles {
    position: absolute;
    z-index: -1;
    left: 32px;
    top: 5px;
    animation: circle linear 20s infinite;
}

@keyframes circle {
    0% {
        transform: rotateZ(0);
        left: 32px;
    }
    50% {
        transform: rotateZ(180deg);
        top: -10px;
        left: 70px;
    }
    75% {
        transform: rotateZ(270deg);
        top: 25px;
        left: 45px;
    }

    100% {
        transform: rotateZ(360deg);
        top: 5px;
        left: 32px;
    }
}

.bubbles_2 {
    position: absolute;
    z-index: -1;
    left: 18px;
    top: 15px;
    width: 520px;
    opacity: 50%;
    transform: rotate(90deg);
    animation: circle2 linear 40s infinite;
}

@keyframes circle2 {
    0% {
        transform: rotateZ(0);
        left: 10px;
        top: 5px;
    }
    50% {
        transform: rotateZ(180deg);
        left: 15px;
        top: 15px;
    }
    75% {
        transform: rotateZ(270deg);
        left: 10px;
        top: 20px;
    }

    100% {
        transform: rotateZ(360deg);
        left: 10px;
        top: 5px;
    }
}

.user__img {
    height: 460px;
    width: 460px;
    border-radius: 50%;
}

.social-icons {
    position: absolute;
    display: -webkit-box;
    justify-content: space-between;
    width: 108px;
    bottom:0;
    left: 0;
}

.social-icon-fb::after {
    content: url('img/fb.svg');
    width: 48px;
    height: 48px;
    margin-right: 10px;
    cursor: pointer;
}

.social-icon-insta::after {
    content: url('img/instagram.png');
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.logo__desktop {
    display: block;
    font-family: 'Baloo 2', cursive;
    font-weight: 800;
    font-size: 30px;
    width: 142px;
}

.logo__mobile {
    display: none;
    font-family: 'Baloo 2', cursive;
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 40px;
}

.title {
    font-family: 'Baloo 2', cursive;
    font-size: 80px;
    line-height: 128px;
    font-weight: 800;
}

.description {
    font-size: 20px;
    max-width: 468px;
}

.counter__area {
    position: relative;
    grid-area: counter;
    width: 100%;
    margin-top: 100px;

}

.counter {
    position: absolute;
    display: grid;
    justify-items: center;
    align-content: center;
    gap: 8px;
    height: 318px;
    width: 318px;
    border-radius: 50%;
    background-color: rgba(255, 245, 245, 1);
    mix-blend-mode: multiply;
    right: 70px;
}

.days__counter {
    font-family: 'Baloo 2', cursive;
    font-size: 30px;
    font-weight: 800;
}

.days__counter::after {
    content: 'away';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 245, 245, 1);
    mix-blend-mode: multiply;
    height: 130px;
    width: 130px;
    color: rgba(252, 106, 87, 1);
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    border-radius:50%;

    bottom: 0;
    right: -70px;
}

.desc {
    font-size: 20px;
}
